/*colors*/
:root {
  --cat-chrome: #3474E0;
  --cat-reactjs: #80D8F7;
  --cat-wordpress: #2e90a6;
  --cat-electron: #2b2e3b;/*#9feaf9*/
  --cat-ai: #321a5c;
  --cat-api: #55ba6d;
  --cat-unity: #ffffff;
  --cat-python: #fce28c;
  --cat-raspberry-pi: #c51d4a;
}
/*styles*/
*{
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Georgia", Times, serif;
  text-align: left;
  margin: 30px 0px 10px 0px;
}
h1{
  font-size: 30px;
  color: rgba(0,0,0,0.85);
  font-weight: 400;
}
h2{
  font-family: "Lucida Grande", Helvetica, sans-serif;
  font-size: 20px;
  color: rgba(0,0,0,0.85);
  font-weight: bold;
}
h3{

}
h4{

}
h5{

}
h6{

}
p{
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, sans-serif;
}
a{
  font-family: "Lucida Grande", Helvetica, sans-serif;
}
.subtitle{
  font-size: 20px;
  color: rgba(0,0,0,0.5);
}
.page-width{
  padding: 0px 0px;
}
.content-width{
  max-width: 100%;
}
/*sidebar nav*/
#side-nav{
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.85);
  overflow-x: hidden;
  padding-top: 10px;
  transition: 0.5s;
  li{
    list-style-type: none;
    text-align: center;
    padding: 5px 0px;
    a{
      text-decoration: none;
      color: rgba(255,255,255,0.5);
      white-space: nowrap;
      &:hover{
        color: rgba(255,255,255,1);
      }
    }
  }
}
#container{
  transition: margin-left .5s;
  min-width: 100vw;
  header{
    background-color: rgb(255,255,255);
    position: fixed;
    width: 100%;
    color: rgba(0,0,0,0.85);
    display: flex;
    justify-content: space-between;
    align-content: center;
    div{
      color: inherit;
      padding: 10px;
      font-size: 25px;
      button{
        font-size: inherit;
        border: none;
      }
    }
    /*blue shadow*/
    -webkit-box-shadow: 0px 4px 6px 0px rgba(128,216,247,0.2);
    -moz-box-shadow: 0px 4px 6px 0px rgba(128,216,247,0.2);
    box-shadow: 0px 4px 6px 0px rgba(128,216,247,0.2);
    #main-nav{
      display: none;
    }
  }
  footer{
    min-height: 50px;
    background-color: rgba(0,0,0,0.85);
    color: rgba(255,255,255,0.5);
    display: flex;
    justify-content: space-between;
    align-content: center;
    #footer-nav{
      display: none;
    }
    #social-nav{
      width: 100%;
      ul{
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        li{
          list-style-type: none;
          a{
            color: inherit;
            padding: 10px;
            &:hover{
              color: rgba(255,255,255,1);
            }
          }
        }
      }
    }
  }
}

/*single elements*/

#category-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  .category-item{

    a{
      border-radius: 10px;
      margin: 5px;
      background-color: rgb(242,242,242);
      font-size: 10px;
      padding: 5px;
      display:flex;
      .cat-name{
        padding: 0px 5px;
        color: rgba(0,0,0,0.5);
      }
      .ci{
        font-size: 12px;
      }
    }
    /*Category Default*/
    .cat.active, .cat:active{//if it also has an active class
      background-color: rgba(0,0,0,0.85);
      box-shadow: 0px 0px 5px 5px #f5f5f5;
      span::before{
        color: white;
      }
      .cat-name{
        color: rgba(255,255,255,0.5);
      }
    }
    /*Google Chrome color*/
    .color-chrome.active, .color-chrome:active{
      background-color: var(--cat-chrome);
    }
    /*ReactJS color*/
    .color-reactjs.active, .color-reactjs:active{
      background-color: var(--cat-reactjs);
      .cat-name{
        color: rgba(0,0,0,0.5);
      }
    }
    /*Wordpress color*/
    .color-wordpress.active, .color-wordpress:active{
      background-color: var(--cat-wordpress);
    }
    /*AI color*/
    .color-ai.active, .color-ai:active{
      background-color: var(--cat-ai);
    }
    /*Electron color*/
    .color-electron.active, .color-electron:active{
      background-color: var(--cat-electron);
    }
    /*API color*/
    .color-api.active, .color-api:active{
      background-color: var(--cat-api);
    }
    /*AI color*/
    .color-unity.active, .color-unity:active{
      background-color: var(--cat-unity);
      .cat-name{
        color: rgba(0,0,0,0.5);
      }
    }
    /*python color*/
    .color-python.active, .color-python:active{
      background-color: var(--cat-python);
      .cat-name{
        color: rgba(0,0,0,0.5);
        color: rgba(255,255,255,0.8);
      }
    }
    /*raspberry-pi color*/
    .color-raspberry-pi.active, .color-raspberry-pi:active{
      background-color: var(--cat-raspberry-pi);
    }
  }
}
#content{
  padding: 100px 0px;
  section{
    padding: 10px 0px;
    margin: 0px 20px;
  }
}
@media only screen and (min-width: 600px) {
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 30px;
  }
  p{
    font-size: 18px;
  }
  .subtitle{
    font-size: 24px;
    color: rgba(0,0,0,0.5);
  }
  .page-width{
    padding: 0px 16px;
  }
  .content-width{
    max-width: 550px;
    margin: auto!important;
  }
  #content{

  }
  /*sidebar nav*/
  #side-nav, #container header #navToggleBtnContainer, #container header #downloadBtnContainer{
    display: none;
  }
  #container{
    header{
      width: calc(100% - 32px);//double page with padding
      #main-nav{
        display: block;
        ul{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          li{
            list-style-type: none;
            a{
              text-decoration: none;
              color: inherit;
              padding: 10px;
            }
          }
        }
      }
    }
    footer{
      min-height: 100px;
      #footer-nav{
        display: block;
        ul{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          li{
            list-style-type: none;
            a{
              text-decoration: none;
              color: inherit;
              font-size: 14px;
              padding: 10px;
              white-space: nowrap;
              &:hover{
                color: rgba(255,255,255,1);
              }
            }
          }
        }
      }
      #social-nav{
        width: auto;
        ul{
          justify-content: flex-end;
        }
      }
    }
  }
}
@media only screen and (min-width: 800px) {
  .page-width{
    padding: 0px 100px;
  }
  #container{
    header{
      width: calc(100% - 200px);//double page with padding
    }
  }
  .content-width{
    max-width: 750px;
  }
}
