/*colors*/
/* line 2, styles.scss */
:root {
  --cat-chrome: #3474E0;
  --cat-reactjs: #80D8F7;
  --cat-wordpress: #2e90a6;
  --cat-electron: #2b2e3b;
  /*#9feaf9*/
  --cat-ai: #321a5c;
  --cat-api: #55ba6d;
  --cat-unity: #ffffff;
  --cat-python: #fce28c;
  --cat-raspberry-pi: #c51d4a;
  --cat-google-analytics: #d6792d;
}

/*styles*/
/* line 15, styles.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 20, styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", Times, serif;
  text-align: left;
  margin: 30px 0px 10px 0px;
}

/* line 25, styles.scss */
h1 {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
}

/* line 30, styles.scss */
h2 {
  font-family: "Lucida Grande", Helvetica, sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
}

/* line 48, styles.scss */
p {
  margin: 10px 0px;
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, sans-serif;
}

/* line 53, styles.scss */
a {
  font-family: "Lucida Grande", Helvetica, sans-serif;
}

/* line 56, styles.scss */
.subtitle {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

/* line 60, styles.scss */
.page-width {
  padding: 0px 0px;
}

/* line 63, styles.scss */
.content-width {
  max-width: 100%;
}

/*sidebar nav*/
/* line 67, styles.scss */
#side-nav {
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  overflow-x: hidden;
  padding-top: 10px;
  transition: 0.5s;
}
/* line 79, styles.scss */
#side-nav li {
  list-style-type: none;
  text-align: center;
  padding: 5px 0px;
}
/* line 83, styles.scss */
#side-nav li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap;
}
/* line 87, styles.scss */
#side-nav li a:hover {
  color: white;
}

/* line 93, styles.scss */
#container {
  transition: margin-left .5s;
  min-width: 100vw;
}
/* line 96, styles.scss */
#container header {
  background-color: white;
  position: fixed;
  width: 100%;
  color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: space-between;
  align-content: center;
  /*blue shadow*/
  -webkit-box-shadow: 0px 4px 6px 0px rgba(128, 216, 247, 0.2);
  -moz-box-shadow: 0px 4px 6px 0px rgba(128, 216, 247, 0.2);
  box-shadow: 0px 4px 6px 0px rgba(128, 216, 247, 0.2);
}
/* line 104, styles.scss */
#container header div {
  color: inherit;
  padding: 10px;
  font-size: 25px;
}
/* line 108, styles.scss */
#container header div button {
  font-size: inherit;
  border: none;
}
/* line 117, styles.scss */
#container header #main-nav {
  display: none;
}
/* line 121, styles.scss */
#container footer {
  min-height: 50px;
  background-color: rgba(0, 0, 0, 0.85);
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-content: center;
}
/* line 128, styles.scss */
#container footer #footer-nav {
  display: none;
}
/* line 131, styles.scss */
#container footer #social-nav {
  width: 100%;
}
/* line 133, styles.scss */
#container footer #social-nav ul {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* line 139, styles.scss */
#container footer #social-nav ul li {
  list-style-type: none;
}
/* line 141, styles.scss */
#container footer #social-nav ul li a {
  color: inherit;
  padding: 10px;
}
/* line 144, styles.scss */
#container footer #social-nav ul li a:hover {
  color: white;
}

/*single elements*/
/* line 239, styles.scss */
#post-category-list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
/* line 246, styles.scss */
#post-category-list .category-item {
  margin: 5px 0px;
  /*Category Default*/
  /*Google Chrome color*/
  /*Google Chrome color*/
  /*ReactJS color*/
  /*Wordpress color*/
  /*AI color*/
  /*Electron color*/
  /*API color*/
  /*AI color*/
  /*python color*/
  /*raspberry-pi color*/
}
/* line 248, styles.scss */
#post-category-list .category-item a {
  text-decoration: none;
  border-radius: 10px;
  margin: 5px;
  font-size: 10px;
  padding: 5px;
}
/* line 254, styles.scss */
#post-category-list .category-item a .cat-name {
  padding: 0px 5px;
}
/* line 260, styles.scss */
#post-category-list .category-item a:hover {
  background-color: #f2f2f2;
}
/* line 262, styles.scss */
#post-category-list .category-item a:hover .cat-name {
  color: rgba(0, 0, 0, 0.5);
}
/* line 268, styles.scss */
#post-category-list .category-item .cat {
  background-color: rgba(0, 0, 0, 0.85);
}
/* line 271, styles.scss */
#post-category-list .category-item .cat span::before {
  color: white;
}
/* line 274, styles.scss */
#post-category-list .category-item .cat .cat-name {
  color: rgba(255, 255, 255, 0.5);
}
/* line 280, styles.scss */
#post-category-list .category-item .color-google-chrome-extension {
  background-color: var(--cat-chrome);
}
/* line 284, styles.scss */
#post-category-list .category-item .color-google-analytics {
  background-color: var(--cat-google-analytics);
}
/* line 288, styles.scss */
#post-category-list .category-item .color-reactjs {
  background-color: var(--cat-reactjs);
}
/* line 290, styles.scss */
#post-category-list .category-item .color-reactjs .cat-name {
  color: rgba(0, 0, 0, 0.5);
}
/* line 295, styles.scss */
#post-category-list .category-item .color-wordpress {
  background-color: var(--cat-wordpress);
}
/* line 299, styles.scss */
#post-category-list .category-item .color-ai {
  background-color: var(--cat-ai);
}
/* line 303, styles.scss */
#post-category-list .category-item .color-electron {
  background-color: var(--cat-electron);
}
/* line 307, styles.scss */
#post-category-list .category-item .color-api {
  background-color: var(--cat-api);
}
/* line 311, styles.scss */
#post-category-list .category-item .color-unity {
  background-color: var(--cat-unity);
}
/* line 313, styles.scss */
#post-category-list .category-item .color-unity .cat-name {
  color: rgba(0, 0, 0, 0.5);
}
/* line 318, styles.scss */
#post-category-list .category-item .color-python.active, #post-category-list .category-item .color-python:active {
  background-color: var(--cat-python);
}
/* line 320, styles.scss */
#post-category-list .category-item .color-python.active .cat-name, #post-category-list .category-item .color-python:active .cat-name {
  color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
}
/* line 326, styles.scss */
#post-category-list .category-item .color-raspberry-pi.active, #post-category-list .category-item .color-raspberry-pi:active {
  background-color: var(--cat-raspberry-pi);
}

/* line 331, styles.scss */
#content {
  padding: 100px 0px;
}
/* line 333, styles.scss */
#content section {
  padding: 10px 0px;
  margin: 0px 20px;
}

@media only screen and (min-width: 600px) {
  /* line 339, styles.scss */
  h1 {
    font-size: 40px;
  }

  /* line 342, styles.scss */
  h2 {
    font-size: 30px;
  }

  /* line 345, styles.scss */
  p {
    font-size: 18px;
  }

  /* line 348, styles.scss */
  .subtitle {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
  }

  /* line 352, styles.scss */
  .page-width {
    padding: 0px 16px;
  }

  /* line 355, styles.scss */
  .content-width {
    max-width: 550px;
    margin: auto !important;
  }

  /*sidebar nav*/
  /* line 363, styles.scss */
  #side-nav, #container header #navToggleBtnContainer, #container header #downloadBtnContainer {
    display: none;
  }

  /* line 367, styles.scss */
  #container header {
    width: calc(100% - 32px);
  }
  /* line 369, styles.scss */
  #container header #main-nav {
    display: block;
  }
  /* line 371, styles.scss */
  #container header #main-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  /* line 376, styles.scss */
  #container header #main-nav ul li {
    list-style-type: none;
  }
  /* line 378, styles.scss */
  #container header #main-nav ul li a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
  }
  /* line 387, styles.scss */
  #container footer {
    min-height: 100px;
  }
  /* line 389, styles.scss */
  #container footer #footer-nav {
    display: block;
  }
  /* line 391, styles.scss */
  #container footer #footer-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  /* line 396, styles.scss */
  #container footer #footer-nav ul li {
    list-style-type: none;
  }
  /* line 398, styles.scss */
  #container footer #footer-nav ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    padding: 10px;
    white-space: nowrap;
  }
  /* line 404, styles.scss */
  #container footer #footer-nav ul li a:hover {
    color: white;
  }
  /* line 411, styles.scss */
  #container footer #social-nav {
    width: auto;
  }
  /* line 413, styles.scss */
  #container footer #social-nav ul {
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 800px) {
  /* line 421, styles.scss */
  .page-width {
    padding: 0px 100px;
  }

  /* line 425, styles.scss */
  #container header {
    width: calc(100% - 200px);
  }

  /* line 429, styles.scss */
  .content-width {
    max-width: 750px;
  }
}
